{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div>
    {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
</div>

<div id="localisation">
<span id="lat">{{ locationLat }}</span>
<span id="lon">{{ locationLon }}</span>

</div>
 <div id="map"></div>

{% endblock %}
